<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Welcome <%= username %></h2>
        <ul id="messages">
            <% if (chats) { %> <% chats.forEach(chat => { %> <% if
				(chat.username === username.login) { %>
				<li class="outgoing">
					<div class="metadata">
						<span class="author">You</span>
						<span class="date"><%= chat.date %></span>
					</div>
					<p><%= chat.message %></p>
				</li>
				<% } else { %>
				<li class="incoming">
					<div class="metadata">
						<span class="author"><%= chat.username %></span>
						<span class="date"><%= chat.date %></span>
					</div>
					<p><%= chat.message %></p>
				</li>
				<% }})} %>
        </ul>
        <form action="" id="messageForm">
            <input type="hidden" name="username" id="username" value="<%= username %>">
            <input type="text" name="message" id="message">
            <button type="submit">send</button>
        </form>
        <p id="typing"></p>
    </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</html>